CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\nreplace_me\n-----END PUBLIC KEY-----"
MCP_CONFIRMATION_SECRET="replace_me_with_a_long_random_value"
OPENAI_APPS_CHALLENGE="set_only_when_the_submission_portal_issues_a_token"
