IPHONEOS_DEPLOYMENT_TARGET = 18.0
MARKETING_VERSION = 0.1
CURRENT_PROJECT_VERSION = 1
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
TARGETED_DEVICE_FAMILY = 1
DEVELOPMENT_TEAM = TRA7965NM5
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

VOYAGE_CLERK_PUBLISHABLE_KEY =
VOYAGE_LOCAL_CLERK_PUBLISHABLE_KEY =
